version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"
    volumes:
      - qdrant-data:/qdrant/storage

  backend:
    build:
      context: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - ai-service

    env_file:
      - ./backend/.env
    
    environment:
      MONGO_URI: mongodb://mongo/ai-agent
      PORT: 5000
      AI_SERVICE_URL: http://ai-service:8000
      AI_TIMEOUT: 30000
      JWT_SECRET: MySecretKey
      JWT_EXPIRY: 7d
      NODE_ENV: development

  ai-service:
    build:
      context: ./Ai-Services
    container_name: ai-service
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - qdrant
    env_file:
      - ./Ai-Services/.env
    environment:
      QDRANT_HOST: qdrant
      QDRANT_PORT: 6333
      GROQ_API_HOST: api.groq.com
      GROQ_API_PORT: 443

volumes:
  mongo-data:
  qdrant-data: