version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - ai-service
    environment:
      - MONGO_URI=mongodb://mongo:27017/ai-agent
      - AI_SERVICE_URL=http://ai-service:8000
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: yarn dev

  ai-service:
    build: ./Ai-Services
    container_name: ai-service
    ports:
      - "8000:8000"
    depends_on:
      - qdrant
    env_file:
      - ./Ai-Services/.env
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    volumes:
      - ./Ai-Services:/app